.Footer {
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  clear: both;

  .container {
      display: flex;
      justify-content: space-around;
      width: 90%;
      text-align: center;
      margin-bottom: 0;
      padding: 30px 0 50px 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    //background-color: purple;
    width: 30%;

    h3 {
      padding-bottom: 10px;
      font-size: 2em;
      text-align: center;
    }
  }

  li {
    padding-top: 1.2em;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: $highlight-color;
    }
  }

}

@media(max-width: 767px) {
  .Footer {
    .container {
      flex-direction: column;
    }

    .footer-section{
      padding: 20px 0;
      width: 100%;
      text-align: center;

<<<<<<< HEAD
      h3 {
=======
      h3{
>>>>>>> 002a0c3a1b5fb6153cdb1263def4ad62848d6aef
        text-align: center;
      }
    }

  }
}
