.Footer {
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  clear: both;

  .footer-container {
      display: flex;
      justify-content: space-around;
      width: 90%;
      text-align: center;
      margin: 0 auto;
      padding: 3em 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    //background-color: purple;
    width: 30%;

    .footer-title {
      font-size: 2em;
      margin-bottom: .3em;
      text-align: center;
    }
  }

  li {
    padding-top: 1.2em;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: $highlight-color;
    }
  }

}

@media(max-width: 767px) {
  .Footer {
    .footer-container {
      flex-direction: column;
      padding: .7em 0;
    }

    .footer-section{
      padding: 20px 0;
      width: 100%;
      text-align: center;

      h3{
        text-align: center;
      }
  }
 }
}
