.form-container {
  max-width: 400px;
  margin: 25px auto;

  .form-title {
    text-align: center;
    padding: 1em;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: .75em 0px;

  .input-label {
    font-style: italic;
    margin-bottom: 5px;
  }

  .user-input-field {
    width: 100%;
    height: 25px;
  }
}

.auth-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;

  &:hover {
    cursor: pointer;
  }
}

.local-btn {
  color: #181818;

  &:hover {
    background-color: $highlight-color;
  }
}

#social-media-btns {
  display: flex;
  flex-direction: column;

  a {
    margin: 15px 0;
    text-align: center;
  }

  .social-btn {
    color: white;
  }

  #github-btn {
    background-color: #181818;

    &:hover {
      background-color: #464646;
    }
  }
  #google-btn {
    background-color: #F32E06;

    &:hover {
      background-color: #f55737;
    }
  }
  #facebook-btn {
    background-color: #415DAE;

    &:hover {
      background-color: #667dbe;
    }
  }
}

.btn-text-divider {
  padding-left: 5px;
}

.divider-text {
  text-align: center;
  margin: 15px 0;
}

.help-block {
  color: red;
}
