.header {
  width: calc(100% - 50px);
  height: 75px;
  background-color: #1E88E5;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  padding: 0 25px;

  .header-title {
    color: white;
  }

  .nav-links {
    margin-left: auto;
    display: flex;
    margin-right: 7px;

    .nav-link {
      color: white;
      padding: 0 10px;
      font-size: 1.2em;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .menu-btn {
    display: none;
    margin-left: auto;
    padding-right: 20px;
  }
}

@media(max-width: 767px) {
  .header {
    width: 100%;
    padding: 0;

    .header-title {
      padding-left: 10px;
    }

    .nav-links {
      display: none;
    }

    .menu-btn {
      display: block;
    }
      .menu-btn:hover {
        cursor: pointer;
      }
  }

}
