.homepage-top {
  background: url('../../src/images/earth.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

.route-container {
  margin: 0;
}

.homepage-section {
  width: 100%;
  //margin: 2em auto;

  .homepage-title-top {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    color: snow;
  }

  .homepage-subtitle-top {
    text-align: center;
    padding: 2em;
    color: snow;
  }

  .homepage-title-bottom {
    text-align: center;
    padding: 2em;
    font-size: 2em;
    color: darkslategrey;
  }

  .homepage-paragraph-top {
    line-height: 1.5;
    color: snow;
    font-weight: 500;
    padding: 1em 0;
    width: 20%;
    margin: auto;
  }

  .button-container {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }

  button {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    text-transform: uppercase;
    height: 3em;
    width: 10em;
    color: snow;
    font-weight: bold;
    //padding: 10px 60px;
    border-radius: 40px;
    text-shadow: none;
    border: 2px solid #fff;
    background-color: transparent;
    line-height: 1.5;

    &:hover {
      background-color: #797a89;
    }
  }

  .homepage-paragraph-bottom {
    line-height: 1.5;
    color: darkslategrey;
    font-weight: 500;
    padding: 1em 0;
  }
}

.features {
  height: auto;
  background-color: $primary-color;
  padding: 2em 0;

  #features-title {
    display: block;
    text-align: center;
    font-weight: bolder;
    color: $highlight-color;
    text-transform: uppercase;
    font-size: 1.8em;

  }

  #features-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1.5em 0;

    .feature-item {
      width: 30%;
      text-align: center;
      color: snow;
      float: left;

      .feature-item-title {
        text-align: center;
        font-size: 1.7em;
        padding: .5em 0;
        font-weight: bolder;
        color: snow;
      }
    }
  }

  .feature-item-text {
    line-height: 1.5;
    padding: .5em 2em 0 2em;
  }
}

@media(max-width: 767px) {
  .homepage-top {
    background: url('../../src/images/earth.png') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
  }

  .homepage-section {

    .homepage-title-top, .homepage-title-bottom{
      text-align: center;
      font-size: 2em;
      line-height: 1.2;
      height: 1.2em;
    }

    .homepage-subtitle-top {
      padding-top: 1em;
      padding-bottom: 0;
      line-height: 1.2;
    }

    .homepage-paragraph-top {
      width: 80%;
    }

    .homepage-paragraph-bottom {
      width: 90%;
      margin: auto;
      line-height: 1.6;
    }


    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      text-transform: uppercase;
      height: 3em;
      width: 10em;
      color: snow;
      font-weight: bold;
    }
  }



  .features {
    #features-list {
      display: flex;
      flex-direction: column;

      .feature-item {
        width: 100%;
        padding: 1em 0;
      }
    }

    .feature-item-text {
      padding: .5em 1.5em 0 1.5em;
    }
  }
}
