
.form-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;

  h2 {
    text-align: center;
    padding: 1em;
  }
}

.form-group {
  padding: 1em;

  label {
    font-style: italic;
  }

  input {
    width: 100%;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    color: darkslategrey;
    width: 50%;
    margin: auto;

    &:hover {
      background-color: $highlight-color;
    }
  }
}


@media(min-width: 1200px) {
  .form-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

  }
}
