.reddit-container {
  background-color: #263238;
  width: 50%;
  float: left;
  height: 30em;

  hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  #reddit-title {
    text-align: center;
    padding-top: 3em;
    color: ghostwhite;
    line-height: 1.3;
    font-weight: 400;
  }

  .stories {
    width: 80%;
    margin: auto;
    padding-bottom: 2em;

    .story {
      padding-top: .3em;
      padding-bottom: .3em;

      a {
        font-size: .9em;
        color: snow;

        &:hover {
          color: $highlight-color;
        }
      }
    }
  }

}
