.spacex-header {
    text-align: center;
}
.rockets-header {
    text-align: center;
}


.spacex-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
	flex-direction: column;
	
	.displayLaunch-container {
		display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 500px;
		margin: 25px auto;
		text-align: center;

		.displayLaunch-title {
			padding-bottom: 15px;
		}
		
		.displayLaunch-list {
			margin-bottom: 15px;

			.displayLaunch-item {
				padding: 5px 0;
			}
		}
	}

  #launch-container {
		margin: 25px auto;
		width: 500px;
		max-width: calc(100% - 20px);
		height: 400px;
		padding: 5px 10px;
		overflow-y: scroll;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 12px;
			background-color: transparent;
			border-radius: 10px;
			background-color: #eee;
			margin: 5px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: #1E88E5;
		}

		.list-item {
			display: flex;
			justify-content: space-between;
			width: calc(100% - 30px);
			padding: 10px 15px;
		}
		.list-item:hover {
			background-color: #eee;
			cursor: pointer;
		}
  }
  #launch-sort {
	  align-self: center;
  }
}

@media(max-width: 767px) {
	.spacex-container {
		#launch-container {
			padding: 0;

			.list-item {
				padding: 5px;
				text-align: center;
			}
		}
	}
}
