.spacex-header {
    text-align: center;
}
.rockets-header {
    margin-top: 20px;
    text-align: center;
}
.rockets-container {
    text-align: center;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    .rocket {
        .rocket-name {
            text-decoration: none;
        }
        &:focus-within {
            height: fit-content;
        }
        overflow: hidden;
        height: 22px;
        transition: all 0.50s;
    }
}