@import "./style/Global.scss";
@import "./style/Reset.scss";
@import "./style/Typography.scss";
@import "./style/PictureOfTheDay.scss";
@import "./style/Reddit.scss";
@import "./style/Map.scss";
@import "./style/Header.scss";
@import "./style/Footer.scss";
